<div class="edit-title">
  <div>
  <%= link_to image_tag("back-arrow.png", border: 0, width: '50px'), :back %>
  </div>
  <div class="title-div">
    <h1>Hi, <%= current_user.name %>! 
    <br/>
    Here you can manage your profile.</h1>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="identity-div">
    <div class="identity-title">
      <h2>Your identity</h2>
    </div>
    <div class="identity-inputs">
      <span class="edit-span">First Name</span>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name", placeholder: "First Name", :class => 'input-edit', :style => "margin-left: 1.5rem" %>
      </br>
      <span class="edit-span">Last Name</span>
      <%= f.text_field :last_name, autocomplete: "Last Name", placeholder: "Last Name", :class => 'input-edit', :style => "margin-left: 1.5rem" %>
      </br>
      <span class="edit-span">Phone Number</span>
      <%= f.telephone_field :phone, autocomplete: "Phone Number", placeholder: "Phone Number", :class => 'input-edit' %>
      </br>
      <span class="edit-span">Paypal Email</span>
      <%= f.text_field :paypal_email, autocomplete: "PayPal Email", placeholder: "PayPal Email", :class => 'input-edit', :style => "margin-left: 0.5rem" %>
      </br>
    </div>
  </div>
  <div class="security-div">
    <div class="security-title">
      <h2>Security</h2>
    </div>
    <div class="security-inputs">
      <span class="edit-span">Email</span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", :class => "input-edit", :style => "margin-left: 9rem" %>
      <br/>
      <span class="edit-span">New Password</span>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Leave blank if you don't want to change it", :class => "input-edit", :style => "margin-left: 5.5rem" %>
      <br/>
      <span class="edit-span">New Password Confirmation</span>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "New Password Confirmation", :class => "input-edit" %>
      <br/>
      <span class="edit-span">Current Password</span>
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "We need your current password to confirm your changes", :class => "input-edit", :style => "margin-left: 4.5rem" %>
    </div>
    <div class="actions">
      <%= f.submit "Update", :class => 'button update-button' %>
    </div>
  </div>
<% end %>
<div class="cancel-account">
  <div class="cancel-title">
    <h2>Cancel my account</h2>
  </div>
  <div class="cancel-div">
    <div class="add-div">
      <span class="unhappy-span">Unhappy?</span>
    </div>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button" %>
  </div>
  <span class="info-span">Your account will be permanently deleted, losing all data.</span>
  <!-- <div class="footer footer-fixed">© <%= Time.now.year %><span>BikeFiesta. All rights reserved.</span></div> -->
</div>
