<div class="main-page-div">
  <h1 class="h1-title">Users</h1>
  <div class="filter-first-div">
    <div class="filter-second-div">
      <form>
        <div class="filter-option-div">
          <span class="filter-span">Filter by Email</span>
          <br/>
          <input type="text" name="email" value="<%= params[:email] %>" class="filter-input">
        </div>
        <div class="filter-option-div">
          <span class="filter-span">Filter by Name</span>
          <br/>
          <input type="text" name="name" value="<%= params[:name] %>" class="filter-input">
        </div>
        <div class="filter-option-div">
          <span class="filter-span">Admin / Normal</span>
          <select id="role" name="role" class="filter-select">
            <%= options_for_select([["All", "all"], ["Admin", "admin"], ["Normal", "normal"]], params[:role]) %>
          </select>
        </div>
        <div style="float: left;">
          <input type="submit" name="submitButton" class="filter-submit" value="Search"/>
        </div>
      </form>
    </div>
  </div>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% @users.each do |user| %>
          <tr class="<%= cycle("bg-white", "bg-gray") %>">
            <td>
              <%= user.email %>
              <% if user.archived %>
                <span style="padding-top: 0.1em; padding-bottom: 0.1rem" class="archived-label">Archived</span>
              <% end %>
              <% if user.is_admin? %>
                <span style="padding-top: 0.1em; padding-bottom: 0.1rem" class="admin-label">Admin</span>
              <% end %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <% if user.id != current_user.id %>
                <% if !user.archived %>
                  <%= link_to archive_user_user_path(user), :method => :put, class: "links-class" do %>
                    Archive
                  <% end %>
                <% else %>
                  <%= link_to unarchive_user_user_path(user), :method => :put, class: "links-class" do %>
                    Unarchive
                  <% end %>
                <% end %>
                •
                <% if user.is_normal? %>
                  <%= link_to make_user_admin_user_path(user), :method => :put, class: "links-class" do %>
                    Make Admin
                  <% end %>
                <% else %>
                  <%= link_to remove_user_admin_user_path(user), :method => :put, class: "links-class" do %>
                    Remove Admin
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
      </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @users %>
    </div>
  </div>
</div>
