<div class="edit-page-div">
  <div class="edit-title-div bottom-border">
    <h1 class="h1-edit-title"><%= @cost.persisted? ? "Edit " : "New " %>Cost</h1>
  </div>
  <div class="edit-title-div">
    
    <%= form_for @cost do |f| %>
      <div class="edit-form-div-1">
        <div class="edit-form-div-2">
          <div class="edit-form-div-3">
            <div class="flex-div">
              <label for="first-name" class="edit-label-div">
                Amount
              </label>
              <div class="edit-field-div" style="margin-left: 6.5rem;">
                <%= f.number_field :amount, class: "input" %>
              </div>
            </div>
            <div class="flex-div">
              <label for="first-name" class="edit-label-div">
                Description
              </label>
              <div class="edit-field-div">
                <%= f.text_area :description, class: "input" %>
              </div>
            </div>
            <div class="flex-div">
              <label for="first-name" class="edit-label-div">
                Date
              </label>
              <div class="edit-field-div" style="margin-left: 8rem;">
                <%= f.date_field :day, class: "input" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-5">
        <div class="edit-bottom-div">
          <%= link_to costs_path, class: "cancel-link", data: { turbo: "false" } do %>
            Cancel
          <% end %>
          <button type="submit" class="button" data-turbo="false" style="padding: 10px 30px; font-size: 14px; text-transform: none;">
            Save
          </button>
        </div>
      </div>
    <% end %>
    
  </div>
</div>
