<div class="main-page-div">
  <h1 class="h1-title">Colors</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% @colors.each do |color| %>
          <tr>
            <td>
              <%= color.name %>
            </td>
            <td>
              <%= link_to color_path(color), method: :delete, class: "links-class", data: {confirm: "Are you sure you want to delete this color?"} do %>
                Delete
              <% end %>
              •
              <%= link_to edit_color_path(color), class: "links-class" do %>
                Edit
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
      </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @colors %>
    </div>
  </div>
  <%= button_to "Add New Color", new_color_path, method: :get, :class => "button add-link" %>
</div>
