<div class="background">
  <div class="login-container">
    <div class="animated-title">
      <div class="text-top">
        <div>
          <span>Welcome to BikeFiesta,</span>
          <span>the newest marketplace for selling and buying</span>
        </div>
      </div>
      <div class="text-bottom">
        <div>used bicycles.</div>
      </div>
    </div>
    <div class="container" id="container" style="margin-top: 20vh; margin-left: 3rem;">
      <div class="form-container sign-up-container">
        <div class="login-form">
          <h1 class="titles">Create Account</h1>
          <%= form_for("user", as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name", placeholder: "First Name", :class => 'input', style: "height: 35px;" %>
            <%= f.text_field :last_name, autocomplete: "Last Name", placeholder: "Last Name", :class => 'input', style: "height: 35px;" %>
            <div style="display: flex; margin-left: 1.5rem;">
              <%= f.check_box :sms_opt_in, checked: true, class: "cursor-pointer" %>
              <%= f.label :sms_opt_in, 'Receive SMS updates. Msg & data rates may apply.', class: "cursor-pointer", style: "margin-top: 10px; margin-left: 5px; font-size: 10px;" %>
            </div>
            <%= f.telephone_field :phone, autocomplete: "Phone Number", placeholder: "Phone Number (+40xxx-xxx-xxx)", :class => 'input', style: "height: 35px;" %>
            <%= f.email_field :email, id: "registration-email", autocomplete: "email", placeholder: "Email", :class => 'input', style: "height: 35px;" %>
            <%= f.password_field :password, id: "registration-password", autocomplete: "new-password", placeholder: "Password", :class => 'input', style: "height: 35px;" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", :class => 'input', style: "height: 35px;" %>
            <label for="image" class="drop-container">
              <span class="drop-title">Drop your ID Card here</span>
              or
              <%= f.file_field :avatar, id: 'image', accept: 'image/*' %>
            </label>
            <%= f.submit "Register", class: 'button', style: "border: 2px solid white;", data: { turbo: "false" } %>
          <% end %>
        </div>
      </div>
      <div class="form-container sign-in-container">
        <div class="login-form">
          <h1 class="titles">Log In</h1>
          <div class="social-container">
            <%#= link_to image_tag("google-icon.png", border: 0), omniauth_authorize_path(resource_name, 'google_oauth2'), method: :post, data: { turbo: "false" } %>
            <%= form_for "Login", url: omniauth_authorize_path(resource_name, 'google_oauth2'), method: :post, data: {turbo: "false"} do |f| %>
              <%= image_submit_tag("google-icon.png", border: 0, width: '35px', height: '35px') %>
            <% end %>  
          </div>
          <span class="span">or use your account</span>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.email_field :email, id: "sign-in-email", autofocus: true, autocomplete: "email", placeholder: "Email", :class => 'input' %>
            <%= f.password_field :password, id: "sign-in-password", autocomplete: "current-password", placeholder: "Password", :class => 'input' %>
            <% if devise_mapping.rememberable? %>
              <div style="display: flex; margin-left: 5rem;">
                <%= f.check_box :remember_me, class: "cursor-pointer" %>
                <%= f.label :remember_me, class: "cursor-pointer", style: "margin-top: 10px; margin-left: 5px;" %>
              </div>
            <% end %>
            <div style="padding-top: 1rem;">
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "forgot-password", data: { turbo: "false" } %>
            </div>
            <%= f.submit "Log in", class: 'button margin-top', style: "border: 2px solid white;", data: { turbo: "false" } %>
          <% end %>
        </div>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1 class="titles">Welcome Back!</h1>
            <p class="paragraph">If you already have an account please log in with your personal info</p>
            <button class="button ghost" id="signIn">Log In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1 class="titles">Hello!</h1>
            <p class="paragraph">Start with creating an account if you don't have one</p>
            <button class="button ghost" id="signUp">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="terms-conditions-div">
    <span style="color: white; cursor: pointer;" onclick="openTermsConditionsPopUp()">Terms & Conditions</span>
    <%= render "terms_conditions_pop_up" %>
  </div>
</div>
<script type="text/javascript">
  var signUpButton = document.getElementById('signUp');
  var signInButton = document.getElementById('signIn');
  var container = document.getElementById('container');
  var hiddenInput = document.getElementById('hiddenInput');
  var terms_conditions_pop_up = document.getElementById("terms_conditions_pop_up");
  alert = "<%= alert %>";

  signUpButton.addEventListener('click', () => {
    container.classList.add("right-panel-active");
  });

  signInButton.addEventListener('click', () => {
    container.classList.remove("right-panel-active");
  });

  if (alert.startsWith("Error -")) {
    container.classList.add("right-panel-active");
  }

  function openTermsConditionsPopUp() {
    terms_conditions_pop_up.classList.remove("hidden");
  }

  function closeTermsConditionsPopUp() {
    terms_conditions_pop_up.classList.add("hidden");
  }
</script>
