<% if current_user.is_admin? %>
  <div class="messages-main-container">
    <div class="flex-container">
      <div class="rooms-container">
        <h1 class="h1-title" style="margin-bottom: 2rem; margin-top: 2rem;">Users</h1>
        <%= turbo_stream_from "users" %>
        <div id="users" class="users-div">
          <%= render @users %>
        </div>
        <div class="pagination" data-turbo="false">
          <%= will_paginate @users, param_name: 'users_page' %>
        </div>
        <h1 class="h1-title" style="margin-bottom: 2rem;">Rooms</h1>
        <%= turbo_stream_from "rooms" %>
        <div id="rooms" class="rooms-div">
          <%= render @rooms %>
        </div>
        <div class="pagination" data-turbo="false">
          <%= will_paginate @rooms, param_name: 'rooms_page' %>
        </div>
        <%= render partial: "layouts/new_room_form" %>
      </div>
    <div>

    <div class="content-container">
      <% if @single_room %>
        <%= render partial: 'layouts/new_message_form' %>
        <div id="messages">
          <div style="text-align: center; border-bottom: 1px solid var(--lg); margin-bottom: 0.5rem; margin-left: 1rem">
            <span>This is the beginning of the conversation</span>
          </div>
          <%= render @messages %>
        </div>                                                  <%# everything in this div is reversed because we have flex-direction: column-reverse in order to be scrolled to the text box%>
        <%= turbo_stream_from @single_room %>
        <div class="room-name-div">
          <h4><%= @user&.name || @single_room.name %></h4>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="messages-main-container">
    <div class="flex-container" style="margin-left: 1rem;">
      <div class="rooms-container">
        <h1 class="h1-title" style="margin-left: 1rem; margin-bottom: 2rem; margin-top: 2rem;">Talk to one of our Admins</h1>
        <%= turbo_stream_from "users" %>
        <div id="users" class="users-div">
          <%= render @users %>
        </div>
        <div class="pagination" data-turbo="false">
          <%= will_paginate @users, param_name: 'users_page' %>
        </div>
      </div>
    <div>

    <div class="content-container <%= current_user.is_normal? ? "content-container-user-height" : "" %>" style="margin-left: 5rem; width: 73vw">
      <% if @single_room %>
        <%= render partial: 'layouts/new_message_form' %>
        <div id="messages">
          <div style="text-align: center; border-bottom: 1px solid var(--lg); margin-bottom: 0.5rem; margin-left: 1rem">
            <span>This is the beginning of the conversation</span>
          </div>
          <%= render @messages %>
        </div>                                                  <%# everything in this div is reversed because we have flex-direction: column-reverse in order to be scrolled to the text box%>
        <%= turbo_stream_from @single_room %>
        <div class="room-name-div">
          <h4><%= @user&.name || @single_room.name %></h4>
        </div>
      <% end %>
    </div>
  </div>
<% end %>