<form id="filters-form" style="margin-top: 1.5rem; margin-left: 48.5rem; margin-bottom: 2rem;" data-turbo="false">
  <% if !my_posts %>
    <input type="button" class="button" onclick="openFiltersPopUp()" value="Filters"></input>
    <%= render "posts/filters_pop_up" %>
  <% end %>
</form>
<div class="grid-post-container">
  <% if grid_posts.size > 0 %>
    <% grid_posts.each do |post| %>
      <div class="grid-item ">
        <div class="div-item ">
          <div class="wrapper-grid <%= 'validating' if post.is_active != 1 || post&.purchase&.proof&.attached? %>">
            <div class="product-img-grid">
              <% if post.assets.present? %>
                <%= image_tag(post.assets.where(is_bicycle: true).first&.image&.url || post.assets.first&.image&.url, border: 0, width: '100%', height: '100%', :class => "") %>
              <% else %>
                <div style="margin-top: 9rem; margin-left: 2.5rem;">
                  <span>Please upload images for this post.</span>
                </div>
              <% end %>
              <% if favorite_posts.present? %>
                <% if favorite_posts.where(id: post.id).size == 0 %>
                  <%= link_to image_tag("mark_favorite.png", style: "border: none;"), add_to_favorites_post_path(post), :method => :put, remote: true, class: 'favorites-button' %>
                <% else %>
                  <%= link_to image_tag("favorite.png", style: "border: none;"), remove_from_favorites_post_path(post), :method => :put, remote: true, class: 'favorites-button' %>
                <% end %>
              <% end %>
              <% if post.electric %>
                <button class="button electric-button">Electric</button>
              <% end %>
              <button class="button size-button"><%= post.size %></button>
            </div>
            <div class="product-info-grid <%= 'validating' if post.is_active != 1 || post&.purchase&.proof&.attached? %>">
              <div class="product-text-grid">
                <h1>
                  <%= post.name %>
                </h1>
                <% if post.user_id == current_user.id %>
                  <div style="margin-left: 10px;">
                    <% if post.sold == true && post.shipped == false && !post&.purchase&.proof&.attached?  %>
                      <a class=""><%= link_to "Upload Proof", upload_proof_post_path(post), class: "links-class", data: { turbo: "false" } %></a>
                    <% elsif !post&.purchase&.proof&.attached?  %>
                      <% if post.is_active == 1 %>
                        <a class=""><%= link_to "Edit", edit_post_path(post), class: "links-class", data: { turbo: "false" } %></a>
                        • 
                      <% end %>
                      <% if post.is_active != -2 && post.is_active != -3 %>
                        <a class=""><%= link_to "Delete", post_path(post), method: :delete, class: "links-class", data: { confirm: "Are you sure you want to delete this post?", turbo: "false" } %></a>
                      <% end %>
                      <% if post.assets.count == 0 %>
                        •
                        <a class=""><%= link_to "Upload", edit_post_path(post, upload: true), class: "links-class", data: { turbo: "false" } %></a>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <h2>by <%= post.user.name %></h2>
                <% if post.is_active == 1 %>
                  <% if post&.purchase&.proof&.attached? %>
                    <span class="validating-span">We are validating your shipping proof...</span>
                  <% else %>
                    <p><%= post.short_description[0, 45] %>[...]</p>
                    <h2>Condition: <%= post.condition %></h2>
                    <h2>Year: <%= post.year %></h2>
                    <h2>Material: <%= post.material.name %></h2>
                  <% end %>
                <% else %>
                  <% if post.is_active == 0 %>
                    <span class="validating-span">We are validating the post...</span>
                  <% elsif post.is_active == -1 %>
                    <span class="validating-span">This post is permanently banned</span>
                  <% elsif post.is_active == -2 %>
                    <% if post.purchase.proof.present? %>
                      <span class="validating-span">Your proof is being verified...</span>
                    <% else %>
                      <span class="validating-span">Please upload your shipping proof</span>
                    <% end %>
                  <% elsif post.is_active == -3 %>
                    <span class="validating-span">SOLD</span>
                  <% end %>
                <% end %>
              </div>
              <div class="product-price-btn-grid">
                <% if post.sale_price.present? %>
                  <div class="product-price-grid"><small><%= number_to_currency(post.price, precision: 2, :unit => '€') %></small><%= number_to_currency(post.sale_price, precision: 2, :unit => '€') %></div>
                <% else %>
                  <p><span class="card-span-grid"><%= number_to_currency(post.price, precision: 2, :unit => '€') %></span></p>
                <% end %>
                <% if post.is_active == 1 %>
                  <button class="button"><%= link_to "See Post", post_path(post), style: "font-size: 12px; text-transform: none; color: white;", data: { turbo: "false" } %></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="no-posts">No posts found.</p>
  <% end %>
</div>
<div class="pagination" data-turbo="false">
  <%= will_paginate grid_posts %>
</div>

<script type="text/javascript">
  var filters_pop_up = document.getElementById("filters_pop_up");

  function openFiltersPopUp() {
    filters_pop_up.classList.remove("hidden");
  }

  function closeFiltersPopUp() {
    filters_pop_up.classList.add("hidden");
  }
</script>