<div class="grid-post-container">
  <% if grid_posts.size > 0 %>
    <% grid_posts.each do |post| %>
      <div class="grid-item">
        <div class="div-item">
          <div class="wrapper-grid">
            <div class="product-img-grid">
              <% if post.assets.present? %>
                <%= image_tag(post.assets.where(is_bicycle: true).first.image.url, border: 0, width: '100%', height: '100%', :class => "") %>
              <% else %>
                <%= image_tag("bike3.jpg", border: 0, width: '100%', height: '100%') %>
              <% end %>
              <% if favorite_posts.where(id: post.id).size == 0 %>
                <%= link_to image_tag("mark_favorite.png"), add_to_favorites_post_path(post), :method => :put, remote: true, class: 'favorites-button' %>
              <% else %>
                <%= link_to image_tag("favorite.png"), remove_from_favorites_post_path(post), :method => :put, remote: true, class: 'favorites-button' %>
              <% end %>
              <% if post.electric %>
                <button class="button electric-button">Electric</button>
              <% end %>
              <button class="button size-button"><%= post.size %></button>
            </div>
            <div class="product-info-grid">
              <div class="product-text-grid">
                <h1>
                  <%= post.name %>
                </h1>
                <% if post.user_id == current_user.id %>
                  <div style="margin-left: 10px;">
                    <a class=""><%= link_to "Edit", edit_post_path(post) %></a>
                    • 
                    <a class=""><%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %></a>
                    <% if post.assets.count == 0 %>
                      •
                      <a class=""><%= link_to "Upload", edit_post_path(post, upload: true) %></a>
                    <% end %>
                  </div>
                <% end %>
                <h2>by <%= post.user.name %></h2>
                <p><%= post.short_description[0, 45] %>[...]</p>
                <h2>Condition: <%= post.condition %></h2>
                <h2>Year: <%= post.year %></h2>
                <h2>Material: <%= post.material.name %></h2>
              </div>
              <div class="product-price-btn-grid">
                <% if post.sale_price.present? %>
                  <div class="product-price-grid"><small><%= number_to_currency(post.price, precision: 2, :unit => '€') %></small><%= number_to_currency(post.sale_price, precision: 2, :unit => '€') %></div>
                <% else %>
                  <p><span class="card-span-grid"><%= number_to_currency(post.price, precision: 2, :unit => '€') %></span></p>
                <% end %>
                <button class="button"><%= link_to "See Post", post_path(post) %></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="no-posts">No posts found.</p>
  <% end %>
</div>
<div class="pagination">
  <%= will_paginate grid_posts %>
</div>