<div class='page-div'>
  <div class="search_container">
      <input class="search_input" type="text" placeholder="Quick Search...">
  </div>

  <% ["Most Viewed", "Sale", "Following", "All"].each do |title| %>
    <div class="most-viewed-div">
      <div class="most-viewed-title <%= 'sale-padding' if title == "Sale" || title == "All" %>">
        <h1>
          <% if title == "Most Viewed" %>
            <%= link_to title, most_viewed_posts_path %>
          <% elsif title == "Sale" %>
            <%= link_to title, on_sale_posts_path %>
          <% elsif title == "Following" %>
            <%= link_to title, following_posts_path %>
          <% else %>
            <%= link_to title, all_posts_path %>
          <% end %>
        </h1>
    </div>
      <div class="carousel-div">
        <% if title == "Most Viewed" %>
          <% posts = @most_viewed_posts %>
        <% elsif title == "Sale" %>
          <% posts = @sale_posts %>
        <% elsif title == "Following" %>
          <% posts = @following_posts %>
        <% else %>
          <% posts = @all_posts %>
        <% end %>
        <% if posts.present? %>
          <input type="radio" name="position" checked />
          <% (posts.size - 1).times do |_|%>
            <input type="radio" name="position" />
          <% end %>
        <% end %>
        <main id="carousel">
          <% if posts.present? %>
            <% posts.each do |post| %>
              <div class="div-item">
                <div class="wrapper">
                  <div class="product-img">
                    <% if post.assets.present? %>
                      <%= image_tag(post.assets.where(is_bicycle: true).first.image.url, border: 0, width: '100%', height: '100%', :class => "") %>
                    <% else %>
                      <%= image_tag("bike3.jpg", border: 0, width: '100%', height: '100%') %>
                    <% end %>
                    <% if post.electric %>
                      <button class="button electric-button">Electric</button>
                    <% end %>
                    <button class="button size-button"><%= post.size %></button>
                  </div>
                  <div class="product-info">
                    <div class="product-text">
                      <h1><%= post.name %></h1>
                      <h2>by <%= post.user.name %></h2>
                      <p><%= post.short_description %></p>
                      <h2>Condition: <%= post.condition %></h2>
                      <h2>Year: <%= post.year %></h2>
                      <h2>Material: <%= post.material.name %></h2>
                    </div>
                    <div class="product-price-btn">
                      <% if post.sale_price.present? %>
                        <div class="product-price"><small><%= number_to_currency(post.price, precision: 2, :unit => '€') %></small><%= number_to_currency(post.sale_price, precision: 2, :unit => '€') %></div>
                      <% else %>
                        <p><span class="card-span"><%= number_to_currency(post.price, precision: 2, :unit => '€') %></span></p>
                      <% end %>
                      <button class="button"><%= link_to "See Post", post_path(post) %></button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <p style="margin-left: 17.5rem;">No posts found</p>
          <% end %>
        </main>
      </div>
    </div>
  <% end %>

  <div class="footer footer-relative">© <%= Time.now.year %><span>BikeFiesta. All rights reserved.</span></div>
</div>