<div class="">
  <div class="edit-post-title-div">
    <% if @post.persisted? %>
      <% if params[:upload] == "true" %>
        <h1 class="">Upload Images</h1>
      <% else %>
        <h1 class="">Edit Post</h1>
      <% end %>
    <% else %>
      <h1 class="">New Post</h1>
    <% end %>
  </div>
  <% if !(params[:upload] == "true") %>
    <div class="add-post-div container" style="overflow-y: scroll;">
      <%= form_for @post do |f| %>
        <div class="">
          <div class="">
            <div class="">
              <div class="">
                <div class="">
                  <%= f.text_field :name, placeholder: "Post Name (Maximum 20 characters)", class: "input" %>
                </div>
                <div class="">
                  <%= f.text_area :description, placeholder: "Description...", cols: "50", rows: "10", class: "input" %>
                </div>
                <div class="">
                  <%= f.text_area :short_description, placeholder: "Short Description (Maximum 100 characters)", cols: "30", rows: "5", class: "input" %>
                </div>
                <div class="">
                  <%= f.number_field :price, placeholder: "Price", class: "input", step: :any %>
                </div>
                <div class="">
                  <%= f.select :color_id, options_for_select([["Select the color", nil]] + @colors.collect { |a| [a[0], a[1]]}, f.object.color_id), {}, class: "input" %>
                </div>
                <div class="">
                  <%= f.select :year, [["Select the year", nil]] + (Time.now.year).downto(Time.now.year - 70).to_a %>
                </div>
                <div class="">
                  <%= f.select :size, [["Select the size", nil], ["XXS (<47)", "XXS"], ["XS (48-50)", "XS"], ["S (50-52)", "S"], ["M (53-55)", "M"], ["L (56-58)", "L"], ["XL (59-62)", "XL"], ["XXL (>63)", "XXL"]] %>
                </div>
                <div class="">
                  <%= f.select :condition, [["Select the condition", nil], ["Brand New", "brand_new"], ["Perfect", "perfect"], ["Very Good", "very_good"], ["Good", "good"], ["Ok", "ok"], ["Bad", "bad"]] %>
                </div>
                <div class="select-div">
                  <%= f.select :location_id, options_for_select([["Select the location", nil]] + @locations.collect { |a| [a[0], a[1]]}, f.object.location_id), {}, class: "" %>
                </div>
                <div class="">
                  <%= f.select :brandname_id, options_for_select([["Select the brand name", nil]] + @brand_names.collect { |a| [a[0], a[1]]}, f.object.brandname_id), {}, class: "" %>
                </div>
                <div class="">
                  <%= f.select :category_id, options_for_select([["Select the category", nil]] + @categories.collect { |a| [a[0], a[1]]}, f.object.category_id), {}, class: "" %>
                </div>
                <div class="">
                  <%= f.select :material_id, options_for_select([["Select the material", nil]] + @materials.collect { |a| [a[0], a[1]]}, f.object.material_id), {}, class: "" %>
                </div>
                <div class="">
                  <%= f.select :component_group_id, options_for_select([["Select the component group brand", nil]] + @component_groups.collect { |a| [a[0], a[1]]}, f.object.component_group_id), {}, class: "" %>
                </div>
                <div class="">
                  <%= f.select :electric, options_for_select([["Select the bike type", nil], ["Electric", true], ["Normal", false]], f.object.electric), {}, class: "" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="">
            <%= link_to posts_path, class: "cancel-link" do %>
              Cancel
            <% end %>
            <button type="submit" class="button">
              <% if !@post.persisted? %>
                Go to Upload
              <% else %>
                Save Changes
              <% end %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if params[:upload] == "true" %>
    <div class="upload-info-div-1">
      <span style="margin-left: 2.5rem">Please upload maximum 5 images</span>
      <br/>
      <span>At least one image must include the entire bike</span>
    </div>
    <div class="dropzone dropzone-flex drop-title drop-container dropzone-styles" id="dropzone-form"></div>
    <div class="upload-info-div-2">
      <%= button_to "Upload", posts_path, id: "createPost", method: :get, :class => "button", :style => "margin-left: 7.5rem; margin-bottom: 0.5rem;" %>
      <span>After uploading it takes up to 10 minutes to validate your post</span>
    </div>
  <% end %>
</div>

<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
  const createPostButton = document.getElementById('createPost');
  let myDropzone = null;
  let dropzoneDiv = document.getElementById("dropzone-form");

  if (myDropzone == null) {
    myDropzone = new Dropzone("div#dropzone-form", { uploadMutliple: true,
                                                    parallelUploads: 100,
                                                    maxFiles: 100,
                                                    acceptedFiles: ".jpeg, .jpg, .png",
                                                    url: `/posts/post_upload_files?post_id=<%= params[:id] %>`,
                                                    autoProcessQueue: false,
                                                    addRemoveLinks: true
                                                  });
  } else {
    myDropzone.enable();
  }

  createPostButton.addEventListener('click', () => {
    myDropzone.processQueue();
  });
</script>
