<div style="">
  <div class="edit-post-title-div">
    <% if @post.persisted? %>
      <% if params[:upload] == "true" %>
        <h1>Upload Images</h1>
      <% else %>
        <h1>Edit Post</h1>
      <% end %>
    <% else %>
      <h1>New Post</h1>
    <% end %>
  </div>
  <% if !(params[:upload] == "true") %>
    <div class="add-post-div container" style="width: 51.5rem; height: 40rem;">
      <%= form_for @post do |f| %>
        <div>
          <div>
            <div>
              <div>
                <div style="margin-top: 1rem; margin-left: 5.7rem;">
                  <%= f.text_field :name, placeholder: "Post name (Maximum 20 characters)", maxlength: "20", class: "filter-input", style: "width: 20rem;" %>
                  <%= f.number_field :price, placeholder: "Price (€)", class: "filter-input", step: :any, style: "width: 20rem;" %>
                </div>
                <div style="margin-top: 1rem; margin-left: 1.2rem;">
                  <%= f.text_area :description, placeholder: "Description...", cols: "50", rows: "10", class: "textarea-input" %>
                </div>
                <div style="margin-left: 1.2rem;">
                  <%= f.text_area :short_description, placeholder: "Short description (maximum 100 characters)", maxlength: 100, cols: "30", rows: "5", class: "textarea-input" %>
                </div>
                <div style="margin-top: 1rem; margin-left: 0.5rem;">
                  <%= f.select :color_id, options_for_select([["Select the color", nil]] + @colors.collect { |a| [a[0], a[1]]}, f.object.color_id), {} %>
                  <%= f.select :year, [["Select the year", nil]] + (Time.now.year).downto(Time.now.year - 70).to_a %>
                  <%= f.select :size, [["Select the size", nil], ["XXS (<47)", "XXS"], ["XS (48-50)", "XS"], ["S (50-52)", "S"], ["M (53-55)", "M"], ["L (56-58)", "L"], ["XL (59-62)", "XL"], ["XXL (>63)", "XXL"]] %>
                </div>
                <div style="margin-top: 0.5rem; margin-left: 0.5rem;">
                  <%= f.select :condition, [["Select the condition", nil], ["Brand New", "Brand New"], ["Perfect", "Perfect"], ["Very Good", "Very Good"], ["Good", "Good"], ["Ok", "Ok"], ["Bad", "Bad"]] %>
                  <%= f.select :location_id, options_for_select([["Select the location", nil]] + @locations.collect { |a| [a[0], a[1]]}, f.object.location_id), {} %>
                  <%= f.select :brandname_id, options_for_select([["Select the brand name", nil]] + @brand_names.collect { |a| [a[0], a[1]]}, f.object.brandname_id), {} %>
                <div style="margin-top: 0.5rem;">
                  <%= f.select :category_id, options_for_select([["Select the category", nil]] + @categories.collect { |a| [a[0], a[1]]}, f.object.category_id), {} %>
                  <%= f.select :material_id, options_for_select([["Select the material", nil]] + @materials.collect { |a| [a[0], a[1]]}, f.object.material_id), {} %>
                  <%= f.select :component_group_id, options_for_select([["Select the component group brand", nil]] + @component_groups.collect { |a| [a[0], a[1]]}, f.object.component_group_id), {} %>
                </div>
                <div style="margin-top: 0.5rem; margin-left: 16.9rem;">
                  <%= f.select :electric, options_for_select([["Select the bike type", nil], ["Electric", true], ["Normal", false]], f.object.electric), {} %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div style="padding-top: 3.5rem; width: 20rem; margin: 0 auto; padding-left: 1.5rem;">
          <%= link_to posts_path, class: "cancel-link", data: { turbo: "false" } do %>
            Cancel
          <% end %>
          <button type="submit" class="button" data-turbo="false">
            <% if !@post.persisted? %>
              Go to Upload
            <% else %>
              Save Changes
            <% end %>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if params[:upload] == "true" %>
    <div class="upload-info-div-1">
      <span style="margin-left: 2.5rem">Please upload maximum 5 images.</span>
      <br/>
      <span>At least one image must include the entire bike.</span>
    </div>
    <div class="dropzone dropzone-flex drop-title drop-container dropzone-styles" id="dropzone-form" style="border: 1px solid var(--dg); border-radius: 10px; margin-left: 28rem; color: var(--dg);"></div>
    <div class="upload-info-div-2">
      <%= button_to "Upload", posts_path, id: "createPost", method: :get, :class => "button", :style => "margin-left: 8.5rem; margin-bottom: 0.5rem;", data: { turbo: "false" } %>
      <span>After uploading it takes up to 10 minutes to validate your post.</span>
    </div>
  <% end %>
</div>

<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
  var createPostButton = document.getElementById('createPost');
  var myDropzone = null;
  var dropzoneDiv = document.getElementById("dropzone-form");

  if (myDropzone == null) {
    myDropzone = new Dropzone("div#dropzone-form", { uploadMutliple: true,
                                                    parallelUploads: 100,
                                                    maxFiles: 100,
                                                    acceptedFiles: ".jpeg, .jpg, .png",
                                                    url: `/posts/post_upload_files?post_id=<%= params[:id] %>`,
                                                    autoProcessQueue: false,
                                                    addRemoveLinks: true
                                                  });
  } else {
    myDropzone.enable();
  }

  createPostButton.addEventListener('click', () => {
    myDropzone.processQueue();
  });
</script>
