<div class="show-flex-div <%= 'admin-margin' if current_user.is_admin? %>">
  <div class="slidershow middle <%= 'admin-margin' if current_user.is_admin? %>">
    <div class="slides">
      <% @post.assets.each_with_index do |asset, index| %>
        <% if index == 0 %>
          <input type="radio" name="r" id="r<%=index + 1 %>" checked>
        <% else%>
          <input type="radio" name="r" id="r<%= index + 1 %>" />
        <% end %>
      <% end %>
      <% @post.assets.each_with_index do |asset, index| %>
        <% if index == 0 %>
          <div class="slide s1">
        <% else %>
          <div class="slide">
        <% end %>
        <%= image_tag(asset.image.url, border: 0, width: '100%', height: '100%', :class => "") %>
        </div>
      <% end %>
    </div>

    <div class="navigation">
      <% @post.assets.each_with_index do |asset, index| %>
        <label for="r<%= index + 1 %>" class="bar"></label>
      <% end %>
    </div>
  </div>
  <div>
    <div class="user-section">
      <div class="user-name">
        <% if @user.provider == "google_oauth2" %>
          <h6><%= image_tag(@user.avatar_url, border: 0, width: '40px', class: "image-radius") %> <%= @user.name %> <%= @user.rating %></h6>
        <% else %>
          <% if @user.avatar.attached? %>
            <h6><%= image_tag(@user.avatar, border: 0, width: '80px', class: "image-radius") %> <%= @user.name %> <%= @user.rating %></h6>
          <% else %>
            <h6><%= image_tag("user-icon.png", border: 0, width: '40px') %> <%= @user.name %> <span class="star-span">★</span><%= @user.rating %></h6>
          <% end %>
        <% end %>
      </div>
      <div>
        <% if current_user.id != @user.id %>
          <% if current_user.following?(@user) %>
            <%= render 'users/unfollow', user: @user %>
          <% else %>
            <%= render 'users/follow', user: @user %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="report-section">
      <form id="report-form">
        <input type="button" class="button" onclick="openReportPopUp()" value="Report Post"></input>
        <%= render "reports/report_pop_up" %>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  let report_pop_up = document.getElementById("report_pop_up");

  function openReportPopUp() {
    report_pop_up.classList.remove("hidden");
  }

  function closeReportPopUp() {
    report_pop_up.classList.add("hidden");
  }
</script>