<div class="<%= 'admin-margin' if current_user.is_admin? %>">
  <div class="slidershow middle <%= 'admin-margin' if current_user.is_admin? %>">
    <div class="slides">
      <% @post.assets.each_with_index do |asset, index| %>
        <% if index == 0 %>
          <input type="radio" name="r" id="r<%=index + 1 %>" checked>
        <% else%>
          <input type="radio" name="r" id="r<%= index + 1 %>" />
        <% end %>
      <% end %>
      <% @post.assets.each_with_index do |asset, index| %>
        <% if index == 0 %>
          <div class="slide s1">
        <% else %>
          <div class="slide">
        <% end %>
        <%= image_tag(asset.image.url, border: 0, width: '100%', height: '100%', :class => "") %>
        </div>
      <% end %>
    </div>

    <div class="navigation">
      <% @post.assets.each_with_index do |asset, index| %>
        <label for="r<%= index + 1 %>" class="bar"></label>
      <% end %>
    </div>
  </div>
  <div>
    <div class="user-section <%= 'admin-margin-top' if current_user.is_admin? %>">
      <div class="user-name">
        <div style="display: flex;">
          <% if @user.provider == "google_oauth2" %>
            <span style="margin-top: 0.3rem;"><%= link_to image_tag(@user.avatar_url, border: 0, width: '40px', class: "image-radius"), user_posts_path(user_id: @user.id), data: { turbo: "false" } %></span>
            <span class="user-name-span"><%= link_to @user.name, user_posts_path(user_id: @user.id), data: { turbo: "false" } %></span>
          <% else %>
            <% if @user.avatar.attached? %>
              <span style="margin-top: 0.3rem;"><%= link_to image_tag(@user.avatar, border: 0, width: '80px', class: "image-radius"), user_posts_path(user_id: @user.id), data: { turbo: "false" }  %></span>
              <span class="user-name-span"><%= link_to @user.name, user_posts_path(user_id: @user.id), data: { turbo: "false" } %></span>
            <% else %>
              <span style="margin-top: 0.3rem;"><%= link_to image_tag("user-icon.png", border: 0, width: '40px', style: "padding-top: 0rem;"), user_posts_path(user_id: @user.id), data: { turbo: "false" }  %></span>
              <span class="user-name-span"><%= link_to @user.name, user_posts_path(user_id: @user.id), data: { turbo: "false" } %></span>
            <% end %>
          <% end %>
        </div>
        <span class="star-span" style="margin-left: 2.8rem;">★</span><span class="rating-span" style="cursor: pointer;" onclick="openReviewsPopUp()"><%= @user.rating %> <u>(<%= pluralize(@user.reviews.count, 'review') %>)</u></span>
        <%= render "reviews/reviews_pop_up" %>
      </div>
      <div style="margin-top: 1rem; margin-left: 0.5rem;">
        <% if current_user.id != @user.id %>
          <% if current_user.following?(@user) %>
            <%= render 'users/unfollow', user: @user %>
          <% else %>
            <%= render 'users/follow', user: @user %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="information-section">
      <div class="main-info-div">
        <span class="name-span">Giant Bike,</span>
        <%= image_tag("pin.png", border: 0, width: '45px', style: "padding-top: 0rem;") %>
        <span class="location-span"><%= @post.location.name %></span>
        <br/>
        <% if @post.sale_price.present? %>
          <div class="sale-price-div"><small style="font-size: 20px; color: var(--b);"><%= number_to_currency(@post.price, precision: 2, :unit => '€') %></small><%= number_to_currency(@post.sale_price, precision: 2, :unit => '€') %></div>
        <% else %>
          <p><span class="price-span"><%= number_to_currency(@post.price, precision: 2, :unit => '€') %></span></p>
        <% end %>
        <span class="views-span"><%= @post.views %> views</span>
      </div>
      <div class="description-div">
        <span style="font-size: 28px;">Description</span>
        <br/>
        <div class="description-span"><%= @post.description %></div>
      </div>
      <div class="other-info-div">
        <ul style="list-style-type: circle;">
          <li>Size - <%= @post.size %></li>
          <li>Condition - <%= @post.condition %></li>
          <li>Year - <%= @post.year %></li>
          <li>Color - <%= @post.color.name %></li>
        </ul>
        <ul style="list-style-type: circle;">
          <li>Name - <%= @post.brandname.name %></li>
          <li>Category - <%= @post.category.name %></li>
          <li>Material - <%= @post.material.name %></li>
          <li>Components - <%= @post.component_group.name %></li>
        </ul>
      </div>
    </div>
    <div class="actions-section">
      <%= link_to "Buy Now", checkout_path(post_id: @post.id), class: "button", data: { 'turbo-method' => :get, turbo: "false" } %> 
      <% is_fav = @favorite_posts.where(id: @post.id).size == 0 %>
      <div class="<%= is_fav ? 'right-buttons' : 'right-buttons-remove' %>">
        <% if is_fav %>
          <%= button_to "Add to Favorites", add_to_favorites_post_path(@post), :method => :put, remote: true, :class => "button", style: "text-transform: none; margin-right: 0.5rem; margin-left: 1.5rem;" %>
        <% else %>
          <%= button_to "Remove from Favorites", remove_from_favorites_post_path(@post), :method => :put, remote: true, :class => "button", style: "text-transform: none; margin-right: 0.5rem; margin-left: 1.5rem;" %>
        <% end %>
        <form id="report-form">
          <input type="button" class="button" style="text-transform: none;" onclick="openReportPopUp()" value="Report Post"></input>
          <%= render "reports/report_pop_up" %>
        </form>
      </div>
    </div>
    <div class="favorites-div">
      <span>This bike was added to Favorites by <u><%= pluralize(@post.favorites.count, 'user') %></u>.</span>
    </div>
  </div>
</div>

<script type="text/javascript">
  var report_pop_up = document.getElementById("report_pop_up");
  var reviews_pop_up = document.getElementById("reviews_pop_up");

  function openReportPopUp() {
    report_pop_up.classList.remove("hidden");
  }

  function closeReportPopUp() {
    report_pop_up.classList.add("hidden");
  }

  function openReviewsPopUp() {
    reviews_pop_up.classList.remove("hidden");
  }

  function closeReviewsPopUp() {
    reviews_pop_up.classList.add("hidden");
  }
</script>