<div class="main-page-div">
  <h1 class="h1-title">Materials</h1>
  <div class="filter-first-div">
    <div class="filter-second-div">
      <form>
        <div class="filter-option-div">
          <span class="filter-span">Filter by Name</span>
          <br/>
          <input type="text" name="name" value="<%= params[:name] %>" class="filter-input">
        </div>
        <div style="float: left;">
          <input type="submit" name="submitButton" class="filter-submit" value="Search" data-turbo="false"/>
        </div>
      </form>
    </div>
  </div>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% @materials.each do |material| %>
          <tr class="<%= cycle("bg-white", "bg-gray") %>">
            <td>
              <%= material.name %>
            </td>
            <td>
              <%= button_to material_path(material), method: :delete, class: "button-to-style", form_class: "button-to-form", data: {confirm: "Are you sure you want to delete this material?", turbo: "false"} do %>
                Delete
              <% end %>
              •
              <%= link_to edit_material_path(material), class: "links-class", data: { turbo: "false" } do %>
                Edit
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
      </tbody>
    </table>
    <div class="pagination" data-turbo="false">
      <%= will_paginate @materials %>
    </div>
  </div>
  <%= button_to "Add New Material", new_material_path, method: :get, :class => "button add-link", data: { turbo: "false" } %>
</div>
