<div class="main-page-div">
  <h1 class="h1-title">Suggestions</h1>
  <div class="filter-first-div">
    <div class="filter-second-div">
      <form>
        <div class="filter-option-div">
          <span class="filter-span">Filter by Start Date</span>
          <br/>
          <input type="date" name="start_date" value="<%= params[:start_date] %>" class="filter-input">
        </div>
        <div class="filter-option-div">
          <span class="filter-span">Filter by End Date</span>
          <br/>
          <input type="date" name="end_date" value="<%= params[:end_date] %>" class="filter-input">
        </div>
        <div class="filter-option-div">
          <span class="filter-span">Unsolved / Solved</span>
          <select id="solved" name="solved" class="filter-select">
            <%= options_for_select([["Unsolved", "false"], ["Solved", "true"]], params[:solved]) %>
          </select>
        </div>
        <div style="float: left;">
          <input type="submit" name="submitButton" class="button" style="margin-top: 1.2rem;" value="Search" data-turbo="false"/>
        </div>
      </form>
    </div>
  </div>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th class="header-cell">Date</th>
          <th class="header-cell">Message</th>
          <th class="header-cell">Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <% @suggestions.each do |suggestion| %>
          <tr class="<%= cycle("bg-white", "bg-gray") %>">
            <td>
              <%= suggestion.created_at.strftime("%d/%m/%y") %>
              <% if suggestion.solved %>
                <span style="padding-top: 0.1em; padding-bottom: 0.1rem" class="admin-label">Solved</span>
              <% end %>
            </td>
            <td style="width: 35%;">
              <%= suggestion.message %>
            </td>
            <td>
              <% if !suggestion.solved %>
                <%= button_to solve_suggestion_path(suggestion), class: "button-to-style", form_class: "button-to-form", method: :put, data: { confirm: "Are you sure you want to mark this suggestion as solved?", turbo: "false" }  do %>
                  Mark as Solved
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
      </tbody>
    </table>
    <div class="pagination" data-turbo="false">
      <%= will_paginate @reports %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#main-sidebar-div").classList.add("hidden");
  })
</script>