<div class="main-page-div">
  <% if @start_date.present? && @end_date.present? %>
    <h1 class="h1-title">Stats - <%= link_to 'Download as Excel', stats_path(start_date: params[:start_date], end_date: params[:end_date], format: :xlsx), method: :post, class: "", data: { turbo: "false" } %></h1>
  <% else %>
    <h1 class="h1-title">Stats</h1>
  <% end %>
  <div class="filter-first-div">
    <div class="filter-second-div">
      <form>
        <div class="filter-option-div">
          <span class="filter-span">Filter by Start Date</span>
          <br/>
          <input type="date" name="start_date" value="<%= params[:start_date] %>" class="filter-input">
        </div>
        <div class="filter-option-div">
          <span class="filter-span">Filter by End Date</span>
          <br/>
          <input type="date" name="end_date" value="<%= params[:end_date] %>" class="filter-input">
        </div>
        <div style="float: left;">
          <input type="submit" name="submitButton" class="filter-submit" value="Search" data-turbo="false"/>
        </div>
      </form>
    </div>
  </div>

  <div class="total-stats-main-div">
    <div class="total-stats-second-div">
      <table class="total-stats-table">
        <thead style="background-color: #F9FAFB;">
          <tr>
            <th scope="col" class="">
              Total Revenue
            </th>
            <th scope="col" class="-">
              Total Spent
            </th>
            <th scope="col" class="">
              Total Profit
            </th>
            <th scope="col" class="">
              ROI
            </th>
            <th scope="col" class="">
              Total Posts
            </th>
            <th scope="col" class="">
              Total Views
            </th>
            <th scope="col" class="">
              Total Tansactions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color: #ffffff;">
            <td class="normal-cell">
              <%= number_to_currency(@total_stats[:total_revenue], precision: 2, :unit => '€') %>
            </td>
            <td class="normal-cell">
              <%= number_to_currency(@total_stats[:total_spent], precision: 2, :unit => '€') %>
            </td>
            <td class="normal-cell">
              <%= number_to_currency(@total_stats[:total_profit], precision: 2, :unit => '€') %>
            </td>
            <td class="normal-cell">
              <%= number_to_percentage(@total_stats[:roi], precision: 2) %>
            </td>
            <td class="normal-cell">
              <%= @total_stats[:total_posts] %>
            </td>
            <td class="normal-cell">
              <%= @total_stats[:total_views] %>
            </td>
            <td class="normal-cell">
              <%= @total_stats[:total_transactions] %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--<#% if @start_date.present? && @end_date.present? %>
    <div class="chart-main-div">
      <div class="chart-second-div">
        <div style="margin-bottom: 1rem;">Financial Metrics by Day</div>    # this was for chartkick
        <br/>
        <%#= line_chart @line_chart_data %>
      </div>
    </div>
  <#% end %>-->

  <% if @start_date.present? && @end_date.present? %>
    <div id="chart-container" style="height: 450px"></div>
  <% end %>

  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Date</th>
          <th>Revenue</th>
          <th>Cost</th>
          <th>Profit</th>
          <th>ROI</th>
          <th>Posts</th>
          <th>Views</th>
          <th>Transactions</th>
          <th>Validating</th>
          <th>Active</th>
          <th>Banned</th>
          <th>Sold and Not Shipped</th>
          <th>Sold and Shipped</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% if @start_date.nil? || @end_date.nil? %>
          <tr class="<%= cycle("bg-white", "bg-gray-50") %>">
            <td>
              Please filter to specific dates.
            </td>
          </tr>
        <% else %>
          <% @stats.each do |stat| %>
            <tr class="<%= cycle("bg-white", "bg-gray") %>">
              <td>
                <%= stat.end_date.strftime("%d/%m/%y") %>
              </td>
              <td>
                <%= number_to_currency(stat.total_revenue, precision: 2, :unit => '€') %>
              </td>
              <td>
                <%= number_to_currency(stat.total_spent, precision: 2, :unit => '€') %>
              </td>
              <td>
                <%= number_to_currency(stat.total_profit, precision: 2, :unit => '€') %>
              </td>
              <td>
                <%= number_to_percentage(stat.roi, precision: 2) %>
              </td>
              <td>
                <%= stat.total_posts %>
              </td>
              <td>
                <%= stat.total_views %>
              </td>
              <td>
                <%= stat.total_transactions %>
              </td>
              <td>
                <%= stat.validating_posts %>
              </td>
              <td>
                <%= stat.banned_posts %>
              </td>
              <td>
                <%= stat.active_posts %>
              </td>
              <td>
                <%= stat.sold_not_shipped_posts %>
              </td>
              <td>
                <%= stat.sold_shipped_posts %>
              </td>
            </tr>
          <% end %>
        <% end %>
        <tr>
      </tbody>
    </table>
  </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/annotations.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/themes/high-contrast-light.js"></script>

<script type="text/javascript">
  var days = <%= @days.to_json.html_safe %>;
  var chart_data = <%= @line_chart_data.to_json.html_safe %>;

  Highcharts.chart('chart-container', {
    xAxis: {
      categories: days
    },

    title: {
      text: 'Statistics by Day'
    },

    series: [
    {
      name: 'Cost',
      data: chart_data[0]["data"]
    },
    {
      name: 'Revenue',
      data: chart_data[1]["data"]
    },
    {
      name: 'Profit',
      data: chart_data[2]["data"]
    },
    {
      name: 'ROI',
      data: chart_data[3]["data"]
    }
    ],

    annotations: [{
      labels: [{
        point: 'max-Cost',
        text: 'Max Cost'
      }, {
        point: 'min-Cost',
        text: 'Min Cost',
        backgroundColor: 'white'
      }, {
        point: 'max-Revenue',
        text: 'Max Revenue',
      }, {
        point: 'min-Revenue',
        text: 'Min Revenue',
        backgroundColor: 'white'
      }, {
        point: 'max-Profit',
        text: 'Max Profit',
      }, {
        point: 'min-Profit',
        text: 'Min Profit',
        backgroundColor: 'white'
      }, {
        point: 'max-ROI',
        text: 'Max ROI',
      }, {
        point: 'min-ROI',
        text: 'Min ROI',
        backgroundColor: 'white'
      }]
    }]
  });
</script>
