<div class="main-page-div">
  <h1 class="h1-title">Reports</h1>
  <div class="filter-first-div">
    <div class="filter-second-div">
      <form>
        <div class="filter-option-div">
          <span class="filter-span">Filter by Start Date</span>
          <br/>
          <input type="date" name="start_date" value="<%= params[:start_date] %>" class="filter-input">
        </div>
        <div class="filter-option-div">
          <span class="filter-span">Filter by End Date</span>
          <br/>
          <input type="date" name="end_date" value="<%= params[:end_date] %>" class="filter-input">
        </div>
        <div class="filter-option-div">
          <span class="filter-span">Unsolved / Solved</span>
          <select id="solved" name="solved" class="filter-select">
            <%= options_for_select([["Unsolved", "false"], ["Solved", "true"]], params[:solved]) %>
          </select>
        </div>
        <div style="float: left;">
          <input type="submit" name="submitButton" class="filter-submit" value="Search"/>
        </div>
      </form>
    </div>
  </div>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Message</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% @reports.each do |report| %>
          <tr class="<%= cycle("bg-white", "bg-gray") %>">
            <td>
              <%= report.created_at.strftime("%d/%m/%y") %>
              <% if report.solved %>
                <span style="padding-top: 0.1em; padding-bottom: 0.1rem" class="admin-label">Solved</span>
              <% end %>
            </td>
            <td>
              <%= report.title %>
            </td>
            <td style="width: 35%;">
              <%= report.message %>
            </td>
            <td>
              <%= link_to post_path(report.post_id), class: "links-class", data: { turbo: "false" } do %>
                See Post
              <% end %>
              <% if report.post.is_active != -1 %>
                •
                <%= link_to ban_post_path(report.post_id), method: :put, class: "links-class", data: { turbo: "false" } do %>
                  Ban Post
                <% end %>
              <% end %>
              <% if ! report.solved %>
                •
                <%= link_to solve_report_path(report), class: "links-class", method: :put, data: { confirm: "Are you sure you want to mark this report as solved?", turbo: "false" }  do %>
                  Mark as Solved
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
      </tbody>
    </table>
    <div class="pagination" data-turbo="false">
      <%= will_paginate @reports %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#main-sidebar-div").classList.add("hidden");
  })
</script>