<!DOCTYPE html>
<html>
  <head>
    <title>BikeFiesta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? && current_user.is_normal? %>
      <% if @header.present? && @header == true %>
        TODO
      <% end %>
      TODO
    <% elsif current_user.present? && current_user.is_admin? %>
      <% if @sidebar.present? && @sidebar == true %>
        TODO
      <% end %>
    <% end %>
    <br><br>
    <%= yield %>
  </body>
</html>
