<!DOCTYPE html>

<style>
  <%= ".msg-#{current_user&.id}" %> {
    background-color: var(--beige) !important;
  }
  <%= ".cont-#{current_user&.id}" %> {
    display: flex;
    justify-content: flex-end;
  }
</style>

<html>
  <head>
    <title>BikeFiesta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <%# <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet"> %>
  </head>

  <div class="spinner">
    <div id="loop" class="center"></div>
    <div id="bike-wrapper" class="center">
      <div id="bike" class="centerBike"></div>
    </div>
  </div>

  <main id="main-body">
    <%= render "layouts/notices" %>
    
    <% if current_user.present? && current_user.is_normal? %>
      <div class="menu">
        <div class="">
          <h6><%= link_to image_tag("logo.png", border: 0, width: '200px'), posts_path, data: { turbo: "false" } %></h6>
        </div>
        <div class="menu-item menu-item-padding first-item">
          <h6><%= link_to "Home", posts_path, data: { turbo: "false" } %></h6>
        </div>
        <div class="menu-item menu-item-padding">
          <h6><%= link_to "Follow Page", follow_page_path, data: { turbo: "false" } %></h6>
        </div>
        <div class="menu-item menu-item-padding">
          <h6><%= link_to "My Posts", my_posts_path, data: { turbo: "false" } %></h6>
        </div>
        <div class="menu-item menu-item-padding">
          <h6><%= link_to "Bikes to Ship", bikes_to_ship_path, data: { turbo: "false" } %></h6>
        </div>
        <div class="menu-item menu-item-padding">
          <h6><%= link_to "Bought Bikes", bought_bikes_path, data: { turbo: "false" } %></h6>
        </div>
        <div class="menu-item menu-item-padding">
          <h6><%= link_to "Favorites", favorites_path, data: { turbo: "false" } %></h6>
        </div>
        <div class="menu-item">
          <%= button_to "Post", new_post_path, method: :get, :class => "button", data: { turbo: "false" } %>
        </div>
        <div class="menu-item">
          <input type="checkbox" id="navtoggle" />
          <div class="toggleNotifications">
            <div class="count">
              <div class="num"><%= @notifications_number %></div>
            </div>
            <label class="show" for="navtoggle"><%= image_tag("notification.png", border: 0, width: '40px', height: '40px') %></label>
            <div class="notifications">
              <div class="groupofnotes">
                <% if @notifications_number > 0 %>
                  <% @notifications.each do |notification| %>
                    <div class="note">
                      <% if notification.notification_type == "review" %>
                        <%= link_to new_review_path(post_id: notification.post_id, reviewer_id: notification.notified_id), class: "", data: { turbo: "false" } do %>
                          <%= notification.message %><%= notification&.post&.user&.full_name %>.
                        <% end %>
                      <% elsif notification.notification_type == "paypal_edit" %>
                        <%= link_to edit_user_registration_path, class: "", data: { turbo: "false" } do %>
                          <%= notification.message %>.
                        <% end %>
                      <% elsif notification.notification_type == "invoice" %>
                        <%= link_to purchase_path(notification&.post&.purchase, format: :pdf), class: "", data: { turbo: "false" } do %>
                          <%= notification.message %><%= notification&.post&.name %>.
                        <% end %>
                      <% else %>
                        <%= notification.message %>.
                      <% end %>
                      <%= button_to notification_path(notification), method: :delete, class: "button-to-style", form_class: "button-to-form", data: { turbo: "false" } do %>
                        <span style="float: right;">&times;</span>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  You have no new notifications.
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-item menu-item-padding">
          <% if current_user.provider == "google_oauth2" %>
            <h6><%= link_to image_tag(current_user.avatar_url, border: 0, width: '40px', class: "image-radius"), edit_user_registration_path, data: { turbo: "false" } %></h6>
          <% else %>
            <% if current_user.avatar.attached? %>
              <h6><%= link_to image_tag(current_user.avatar, border: 0, width: '80px', class: "image-radius"), edit_user_registration_path, data: { turbo: "false" } %></h6>
            <% else %>
              <h6><%= link_to image_tag("user-icon.png", border: 0, width: '40px'), edit_user_registration_path, data: { turbo: "false" } %></h6>
            <% end %>
          <% end %>
        </div>
        <div class="menu-item menu-item-padding">
          <h6><%= link_to "Support", rooms_path, data: { turbo: "false" } %></h6>
        </div>
        <div class="menu-item menu-item-padding">
            <h6>
            <%#= link_to image_tag("logout-icon.png", border: 0, width: '35px'), destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
            <%= form_for "Logout", url: destroy_user_session_path, method: :delete, data: {turbo: "false"} do |f| %>
              <%= image_submit_tag("logout-icon.png", border: 0, width: '35px') %>
            <% end %>
            </h6>
        </div>
      </div>
    <% elsif current_user.present? && current_user.is_admin? %>

      <div id="main-sidebar-div" class="main-sidebar-div">
        <div class="main-sidebar-div-2">
          <div class="logo-div">
            <h1><%= link_to image_tag("logo.png", border: 0, width: '200px'), users_path, data: { turbo: "false" } %></h1>
          </div>
          <ul class="sidebar-ul">
            <li>
              <a href=<%= users_path %> class="sidebar-a" data-turbo="false">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Users</span>
              </a>
            </li>
            <li>
              <a href=<%= reports_path %> class="sidebar-a" data-turbo="false">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Reports</span>
              </a>
            </li>
            <li>
              <a href=<%= suggestions_path %> class="sidebar-a" data-turbo="false">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Suggestions</span>
              </a>
            </li>
            <li>
              <a href=<%= reviews_path %> class="sidebar-a" data-turbo="false">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Reviews</span>
              </a>
            </li>
            <div class="item">
              <span class="sidebar-icon-span sub-btn dropdown-span" style="margin-left: 2rem">Categorization<%= image_tag("right-arrow.png", border: 0, width: '25px', :class => "dropdown dropdown-arrow") %></span>
              <div class="sub-menu">
                <li>
                  <a href=<%= brandnames_path %> class="sidebar-a" data-turbo="false">
                    <span class="sidebar-icon-span" style="margin-left: 1rem"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                    <span class="sidebar-title-span">Brand Names</span>
                  </a>
                </li>
                <li>
                  <a href=<%= colors_path %> class="sidebar-a" data-turbo="false">
                    <span class="sidebar-icon-span" style="margin-left: 1rem"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                    <span class="sidebar-title-span">Colors</span>
                  </a>
                </li>
                <li>
                  <a href=<%= categories_path %> class="sidebar-a" data-turbo="false">
                    <span class="sidebar-icon-span" style="margin-left: 1rem"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                    <span class="sidebar-title-span">Categories</span>
                  </a>
                </li>
                <li>
                  <a href=<%= component_groups_path %> class="sidebar-a" data-turbo="false">
                    <span class="sidebar-icon-span" style="margin-left: 1rem"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                    <span class="sidebar-title-span">Components</span>
                  </a>
                </li>
                <li>
                  <a href=<%= materials_path %> class="sidebar-a" data-turbo="false">
                    <span class="sidebar-icon-span" style="margin-left: 1rem"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                    <span class="sidebar-title-span">Materials</span>
                  </a>
                </li>
              </div>
            </div>
            <li>
              <a href=<%= purchases_path %> class="sidebar-a" data-turbo="false">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Purchases</span>
              </a>
            </li>
            <li>
              <a href=<%= rooms_path %> class="sidebar-a" data-turbo="false">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Messages</span>
              </a>
              <a href=<%= new_messages_path %> class="sidebar-a" data-turbo="false">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">New Messages</span>
              </a>
            </li>
            <li>
              <a href=<%= issues_path %> class="sidebar-a" data-turbo="false">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Issues</span>
              </a>
            </li>
            <li>
              <a href=<%= costs_path %> class="sidebar-a" data-turbo="false">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Costs</span>
              </a>
            </li>
            <li>
              <a href=<%= stats_path %> class="sidebar-a" data-turbo="false">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Stats</span>
              </a>
            </li>
            <li>
              <a href=<%= leaderboard_path %> class="sidebar-a" data-turbo="false">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Leaderboard</span>
              </a>
            </li>
          </ul>
          <div class="main-logout-div">
            <div>
              <p class="logout-p-name" style="margin-left: 13px;">
                <%= current_user.email %>
              </p>
              <p class="logout-p-path">
                <%#= link_to "Log Out", destroy_user_session_path, id: "try", method: :delete, data: { turbo: "false" } %>
                <%= form_for "Log Out", url: destroy_user_session_path, method: :delete, data: {turbo: "false"} do |f| %>
                  <%= submit_tag 'Log Out', class: "button" %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
  <% if current_user.present? && current_user.is_normal? %>
   <div class="footer <%= request.fullpath == "/follow_page" || request.fullpath.include?("/posts/") ? "footer-fixed" : "footer-relative" %>">© <%= Time.now.year %><span>BikeFiesta. All rights reserved.</span></div>
  <% end %>
</html>

<script type="text/javascript">
  $(document).ready(function() {
    $('.sub-btn').click(function(){
      $(this).next('.sub-menu').slideToggle();
      $(this).find('.dropdown').toggleClass('rotate');
    });
  });

  $(document).on("turbolinks:visit", function() {
    $(".spinner").show();
    $("#main-body").css("opacity", "0.2");
  });

  $(document).on("turbolinks:load", function() {
    $(".spinner").hide();
    $("#main-body").css("opacity", "1");
  });
</script>
