<!DOCTYPE html>
<html>
  <head>
    <title>BikeFiesta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%= render "layouts/notices" %>
    
    <% if current_user.present? && current_user.is_normal? %>
        <div class="menu">
          <div class="">
            <h6><%= link_to image_tag("logo.png", border: 0, width: '200px'), posts_path %></h6>
          </div>
          <div class="menu-item menu-item-padding first-item">
            <h6><%= link_to "Home", posts_path %></h6>
          </div>
          <div class="menu-item menu-item-padding">
            <h6><%= link_to "Follow Page", follow_page_path %></h6>
          </div>
          <div class="menu-item menu-item-padding">
            <h6><%= link_to "My Posts", my_posts_path %></h6>
          </div>
          <div class="menu-item menu-item-padding">
            <h6><%= link_to "Favorites", favorites_path %></h6>
          </div>
          <div class="menu-item">
            <%= button_to "Post", new_post_path, method: :get, :class => "button" %>
          </div>
          <div class="menu-item menu-item-padding">
            <h6>Random</h6>
          </div>
          <div class="menu-item menu-item-padding">
            <% if current_user.provider == "google_oauth2" %>
              <h6><%= link_to image_tag(current_user.avatar_url, border: 0, width: '40px', class: "image-radius"), edit_user_registration_path %></h6>
            <% else %>
              <% if current_user.avatar.attached? %>
                <h6><%= link_to image_tag(current_user.avatar, border: 0, width: '80px', class: "image-radius"), edit_user_registration_path %></h6>
              <% else %>
                <h6><%= link_to image_tag("user-icon.png", border: 0, width: '40px'), edit_user_registration_path %></h6>
              <% end %>
            <% end %>
          </div>
          <div class="menu-item menu-item-padding">
              <h6><%= link_to image_tag("logout-icon.png", border: 0, width: '35px'), destroy_user_session_path, data: {turbo: "false"}, method: :delete %></h6>
          </div>
        </div>
    <% elsif current_user.present? && current_user.is_admin? %>

      <div id="main-sidebar-div" class="main-sidebar-div">
        <div class="main-sidebar-div-2">
          <div class="logo-div">
            <h1><%= link_to image_tag("logo.png", border: 0, width: '200px'), users_path %></h1>
          </div>
          <ul class="sidebar-ul">
            <li>
              <a href=<%= users_path %> class="sidebar-a">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Users</span>
              </a>
            </li>
            <li>
              <a href=<%= reports_path %> class="sidebar-a">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Reports</span>
              </a>
            </li>
            <div class="item">
              <%# <a class="sub-btn sidebar-title-span">Categorization</a> %>
              <span class="sidebar-icon-span sub-btn dropdown-span" style="margin-left: 2rem">Categorization<%= image_tag("right-arrow.png", border: 0, width: '25px', :class => "dropdown dropdown-arrow") %></span>
              <div class="sub-menu">
                <li>
                  <a href=<%= brandnames_path %> class="sidebar-a">
                    <span class="sidebar-icon-span" style="margin-left: 1rem"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                    <span class="sidebar-title-span">Brand Names</span>
                  </a>
                </li>
                <li>
                  <a href=<%= colors_path %> class="sidebar-a">
                    <span class="sidebar-icon-span" style="margin-left: 1rem"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                    <span class="sidebar-title-span">Colors</span>
                  </a>
                </li>
                <li>
                  <a href=<%= categories_path %> class="sidebar-a">
                    <span class="sidebar-icon-span" style="margin-left: 1rem"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                    <span class="sidebar-title-span">Categories</span>
                  </a>
                </li>
                <li>
                  <a href=<%= materials_path %> class="sidebar-a">
                    <span class="sidebar-icon-span" style="margin-left: 1rem"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                    <span class="sidebar-title-span">Materials</span>
                  </a>
                </li>
                <li>
                  <a href=<%= component_groups_path %> class="sidebar-a">
                    <span class="sidebar-icon-span" style="margin-left: 1rem"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                    <span class="sidebar-title-span">Components</span>
                  </a>
                </li>
              </div>
            </div>
            <li>
              <a href="#" class="sidebar-a">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Costs</span>
              </a>
            </li>
            <li>
              <a href="#" class="sidebar-a">
                <span class="sidebar-icon-span"><%= image_tag("user-icon.png", border: 0, width: '40px') %></span>
                <span class="sidebar-title-span">Profit</span>
                <%# <span class="ml-auto mr-6 text-sm bg-red-100 rounded-full px-3 py-px text-red-500">5</span> %>
              </a>
            </li>
          </ul>
          <div class="main-logout-div">
            <div>
              <p class="logout-p-name">
                <%= current_user.email %>
              </p>
              <p class="logout-p-path">
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
     $('.sub-btn').click(function(){
       $(this).next('.sub-menu').slideToggle();
       $(this).find('.dropdown').toggleClass('rotate');
     });
   });
</script>
